.v-btn-group {
  display: inline-block;
  position: relative;
  font-size: 0;
  z-index: 1;
  .v-btn {
    border-radius: 0;
    &:hover {
      z-index: 3;
    }
    &:focus {
      z-index: 2;
    }
    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    &:not(:first-child) {
      margin-left: -1px;
    }
  }
}