.v-datetimepicker {
  position: relative;
  display: inline-block;
  &__content {
    margin: 5px 0;
    border: 1px solid #E8E8E8;
    background: #FFFFFF;
    color: #606266;
    border-radius: 3px;
    box-shadow: 0 0 10px #E8E8E8;
  }
}

.v-picker-date {
  display: inline-block;
  font-size: 0;
  &__hd {
    padding: 5px 10px;
    border-bottom: 1px solid #EBEEF6;
    text-align: center;
    &-label {
      padding: 0 5px;
      font-weight: 600;
      font-size: 12px;
      line-height: 32px;
      cursor: pointer;
      &:hover {
        color: #3BA6FF;
      }
    }
  }
  &__prev-btn {
    float: left;
  }
  &__next-btn {
    float: right;
  }
  &__bd {
    padding: 10px 15px;
  }
  &__table {
    width: 100%;
    font-size: 12px;
    &-header, &-cell {
      display: block;
      width: 26px;
      height: 26px;
      margin: 5px 0;
      padding: 5px;
      &-inner {
        display: block;
        width: 24px;
        height: 24px;
        font-weight: 100;
        line-height: 24px;
        text-align: center;
        border-radius: 3px;
      }
    }
    &-header {
      &-inner {
        color: #999999;
      }
    }
    &-cell {
      cursor: pointer;
      &.in-range {
        background-color: #F2F8FD;
      }
      &.start-date, &.end-date {
        .v-picker-date__table-cell-inner {
          background-color: #148EF6;
          color: #FFFFFF;
        }
      }
      &.start-date {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &.end-date {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      &-inner {
        border: 1px solid transparent;
        &.last-month-cell {
          color: #C0C4CC;
        }
        &.disabled, &.disabled:hover {
          border-color: transparent;
          background-color: transparent;
          color: #C0C4CC;
          cursor: not-allowed;
        }
        &.today {
          border-color: #148EF6;
          font-weight: 600;
          color: #148EF6;
        }
        &.next-month-cell {
          color: #C0C4CC;
        }
        &:hover {
          border-color: #148EF6;
          background-color: #E6F6FF;
          color: #148EF6;
        }
      }
    }
  }
}

.v-picker-time {
  position: relative;
  float: right;
  height: 280px;
  padding: 30px 20px;
  border-left: 1px solid #EBEEF6;
  font-size: 0;
  .select-panel {
    position: absolute;
    top: 50%;
    right: 20px;
    left: 20px;
    height: 40px;
    border-top: 1px solid #EBEEF6;
    border-bottom: 1px solid #EBEEF6;
    transform: translateY(-50%);
    &__inner {
      display: inline-block;
      width: 75px;
      height: 40px;
      font-weight: 600;
      font-size: 12px;
      line-height: 40px;
      text-indent: 38px;
    }
  }
  .hours, .minutes, .seconds {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    ul {
      display: inline-block;
      width: 92px;
      height: 100%;
      padding-top: 120px;
      padding-right: 17px;
      padding-bottom: 120px;
      box-sizing: border-box;
      overflow: auto;
      li {
        width: 60px;
        padding-left: 8px;
        .time-inner {
          display: inline-block;
          width: 30px;
          height: 30px;
          margin: 5px 0;
          font-size: 12px;
          line-height: 30px;
          color: #C0C4CC;
          text-align: center;
          cursor: pointer;
          &:hover {
            font-weight: 600;
            color: #148EF6;
          }
          &.selected {
            font-weight: 600;
            color: #606266;
          }
        }
      }
    }
  }
}

.slide-up-enter,
.slide-up-enter-active,
.slide-up-appear,
.slide-up-appear-active {
  animation-name: antSlideUpIn;
  transition: all 1s;
}

@keyframes antSlideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleY(1);
  }
}
