html, body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, fieldset, form, label, input, button, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, article, aside, audio, canvas, figure, footer, header, mark, menu, nav, section, time, video {
  margin: 0;
  padding: 0;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote {
  display: block;
}

ul, ol {
  list-style: none;
}

img {
  border: 0 none;
  vertical-align: top;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong, em, i {
  font-style: normal;
}

ins {
  text-decoration: underline;
}

del {
  text-decoration: line-through;
}

mark {
  background: none;
}

input::-ms-clear {
  display: none;
}

body {
  font: 12px/1.5 "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
  transition: color .3s;
}

a:hover {
  text-decoration: none;
}

.clearfix {
  zoom: 1;
  &:before, &:after {
    display: table;
    content: " ";
  }
  &:after {
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
  }
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}