.v-alert {
  position: relative;
  display: block;
  width: 100%;
  padding: 8px 10px;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: $border-radius + px;
  overflow: hidden;
  opacity: 1;
  transition: opacity .2s;
  &--align-left {
    text-align: left;
  }
  &--align-center {
    text-align: center;
  }
  &--align-right {
    text-align: right;
  }
  &--info {
    border-color: $color-C5E3FF;
    background-color: $color-E6F7FF;
    color: $color-1890FF;
  }
  &--success {
    border-color: $color-D3F0C5;
    background-color: $color-F6FFED;
    color: $color-52C41A;
  }
  &--warning {
    border-color: $color-FDE8C7;
    background-color: $color-FFFBE6;
    color: $color-FAAD14;
  }
  &--danger {
    border-color: $color-FCC7CA;
    background-color: $color-FFF1F0;
    color: $color-F5222D;
  }
  &--with-icon {
    padding-left: 30px;
  }
  &--message {
    .v-icon {
      position: absolute;
      left: 10px;
      height: 18px;
      font-size: 14px;
      line-height: 18px;
    }
    &-description {
      margin-top: 5px;
      line-height: 20px;
    }
    &.with-desc {
      .v-icon {
        top: 9px;
      }
      .v-alert--message-title {
        font-size: 14px;
      }
    }
  }
  &--close {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
  }
}

.alert-fade-enter,
.alert-fade-leave-active {
  opacity: 0;
}