.v-breadcrumb {
  @extend .clearfix;
  &__item {
    float: left;
    &:last-child {
      .v-breadcrumb__inner {
        font-weight: 400;
        cursor: text;
        &, &:hover {
          color: #8C8C8C;
        }
      }
      .v-breadcrumb__separator {
        display: none;
      }
    }
  }
  &__inner {
    font-weight: 600;
    &:hover {
      color: #43A5F8;
    }
  }
  &__separator {
    margin: 0 5px;
    font-weight: 600;
    color: #D9D9D9;
  }
}