/* variable for button */
$border-radius: 3;
$button-margin: 10;

/* mixin for grid system */
@mixin make-color($border-color, $background-color, $color) {
  border-color: $border-color;
  background-color: $background-color;
  color: $color;
}

@mixin make-size($width, $height, $font-size) {
  width: $width;
  height: $height;
  font-size: $font-size;
  line-height: $height;
}

.v-btn {
  display: inline-block;
  position: relative;
  margin: 0;
  background: none;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  & + .v-btn {
    margin-left: $button-margin + px;
  }
}

.v-btn__button {
  padding: 0 15px;
  border: 1px solid;
  &:focus:after {
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    content: '';
    border: 0 solid;
    filter: alpha(opacify=40);
    opacity: .4;
    border-radius: inherit;
    animation: buttonEffect .4s;
  }
  &.v-btn__default {
    @include make-color(#D9D9D9, transparent, #595959);
    &.plain {
      @include make-color(#FFFFFF, transparent, #FFFFFF);
    }
    &:hover, &:focus {
      @include make-color(#43A5F8, transparent, #43A5F8);
    }
    &:focus:after {
      border-color: #148EF6;
    }
    &.disabled, &.disabled:hover {
      @include make-color(#EDEDED, transparent, #BFBFBF);
      cursor: not-allowed;
    }
  }
  &.v-btn__primary {
    @include make-color(#148EF6, #148EF6, #FFFFFF);
    &:hover, &:focus {
      @include make-color(#43A5F8, #43A5F8, #FFFFFF);
    }
    &:focus:after {
      border-color: #148EF6;
    }
    &.disabled, &.disabled:hover {
      @include make-color(#89C6FA, #89C6FA, #FFFFFF);
      cursor: not-allowed;
    }
    &.plain {
      @include make-color(#148EF6, transparent, #148EF6);
      &.disabled, &.disabled:hover {
        @include make-color(#89C6FA, transparent, #89C6FA);
        cursor: not-allowed;
      }
    }
  }
  &.v-btn__warning {
    @include make-color(#FAAD14, #FAAD14, #FFFFFF);
    &:hover, &:focus {
      @include make-color(#FBBD43, #FBBD43, #FFFFFF);
    }
    &:focus:after {
      border-color: #FAAD14;
    }
    &.disabled, &.disabled:hover {
      @include make-color(#FCD689, #FCD689, #FFFFFF);
      cursor: not-allowed;
    }
    &.plain {
      @include make-color(#FAAD14, transparent, #FAAD14);
      &.disabled, &.disabled:hover {
        @include make-color(#FCD689, transparent, #FCD689);
        cursor: not-allowed;
      }
    }
  }
  &.v-btn__danger {
    @include make-color(#F5222D, #F5222D, #FFFFFF);
    &:hover, &:focus {
      @include make-color(#F74E57, #F74E57, #FFFFFF);
    }
    &:focus:after {
      border-color: #F5222D;
    }
    &.disabled, &.disabled:hover {
      @include make-color(#FA9096, #FA9096, #FFFFFF);
      cursor: not-allowed;
    }
    &.plain {
      @include make-color(#F5222D, transparent, #F5222D);
      &.disabled, &.disabled:hover {
        @include make-color(#FA9096, transparent, #FA9096);
        cursor: not-allowed;
      }
    }
  }
}

.v-btn__text {
  border: 1px solid transparent;
  &.v-btn__default {
    @include make-color(transparent, transparent, #595959);
    &:hover, &:focus {
      @include make-color(transparent, transparent, #43A5F8);
    }
    &.disabled, &.disabled:hover {
      @include make-color(transparent, transparent, #BFBFBF);
      cursor: not-allowed;
    }
  }
  &.v-btn__primary {
    @include make-color(transparent, transparent, #148EF6);
    &:hover, &:focus {
      @include make-color(transparent, transparent, #43A5F8);
    }
    &.disabled, &.disabled:hover {
      @include make-color(transparent, transparent, #89C6FA);
      cursor: not-allowed;
    }
  }
  &.v-btn__warning {
    @include make-color(transparent, transparent, #FAAD14);
    &:hover, &:focus {
      @include make-color(transparent, transparent, #FBBD43);
    }
    &.disabled, &.disabled:hover {
      @include make-color(transparent, transparent, #FCD689);
      cursor: not-allowed;
    }
  }
  &.v-btn__danger {
    @include make-color(transparent, transparent, #F5222D);
    &:hover, &:focus {
      @include make-color(transparent, transparent, #F74E57);
    }
    &.disabled, &.disabled:hover {
      @include make-color(transparent, transparent, #FA9096);
      cursor: not-allowed;
    }
  }
}

.v-btn__radius {
  border-radius: $border-radius + px;
  &.v-btn__mini {
    @include make-size(auto, 28px, 12px);
  }
  &.v-btn__small {
    @include make-size(auto, 32px, 12px);
  }
  &.v-btn__medium {
    @include make-size(auto, 36px, 14px);
  }
  &.v-btn__large {
    @include make-size(auto, 40px, 16px);
  }
}

.v-btn__circle {
  padding: 0;
  border-radius: 50%;
  &.v-btn__mini {
    @include make-size(28px, 28px, 14px);
  }
  &.v-btn__small {
    @include make-size(32px, 32px, 14px);
  }
  &.v-btn__medium {
    @include make-size(36px, 36px, 16px);
  }
  &.v-btn__large {
    @include make-size(40px, 40px, 18px);
  }
}

@keyframes buttonEffect {
  to {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    border-width: 6px;
    filter: alpha(opacify=0);
    opacity: 0;
  }
}