/* variable */
$border-radius: 3;
$button-margin: 10;
$color-D9D9D9: #D9D9D9;
$color-595959: #595959;
$color-FFFFFF: #FFFFFF;
$color-43A5F8: #43A5F8;
$color-148EF6: #148EF6;
$color-EDEDED: #EDEDED;
$color-BFBFBF: #BFBFBF;
$color-89C6FA: #89C6FA;
$color-F5222D: #F5222D;
$color-F74E57: #F74E57;
$color-FA9096: #FA9096;
$color-FBBD43: #FBBD43;
$color-FCD689: #FCD689;
$color-FAAD14: #FAAD14;

/* mixin */
@mixin make-color($border-color, $background-color, $color) {
  border-color: $border-color;
  background-color: $background-color;
  color: $color;
}

@mixin make-size($width, $height, $font-size) {
  width: $width;
  height: $height;
  font-size: $font-size;
  line-height: $height;
}

.v-btn {
  display: inline-block;
  position: relative;
  margin: 0;
  background: none;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  & + .v-btn {
    margin-left: $button-margin + px;
  }
}

.v-btn__button {
  padding: 0 15px;
  border: 1px solid;
  &:focus:after {
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    content: '';
    border: 0 solid;
    filter: alpha(opacify=40);
    opacity: .4;
    border-radius: inherit;
    animation: buttonEffect .4s;
  }
  &.v-btn__default {
    @include make-color($color-D9D9D9, transparent, $color-595959);
    &.plain {
      @include make-color($color-FFFFFF, transparent, $color-FFFFFF);
    }
    &:hover, &:focus {
      @include make-color($color-43A5F8, transparent, $color-43A5F8);
    }
    &:focus:after {
      border-color: $color-148EF6;
    }
    &.disabled, &.disabled:hover {
      @include make-color($color-EDEDED, transparent, $color-BFBFBF);
      cursor: not-allowed;
    }
  }
  &.v-btn__primary {
    @include make-color($color-148EF6, $color-148EF6, $color-FFFFFF);
    &:hover, &:focus {
      @include make-color($color-43A5F8, $color-43A5F8, $color-FFFFFF);
    }
    &:focus:after {
      border-color: $color-148EF6;
    }
    &.disabled, &.disabled:hover {
      @include make-color($color-89C6FA, $color-89C6FA, $color-FFFFFF);
      cursor: not-allowed;
    }
    &.plain {
      @include make-color($color-148EF6, transparent, $color-148EF6);
      &.disabled, &.disabled:hover {
        @include make-color($color-89C6FA, transparent, $color-89C6FA);
        cursor: not-allowed;
      }
    }
  }
  &.v-btn__warning {
    @include make-color($color-FAAD14, $color-FAAD14, $color-FFFFFF);
    &:hover, &:focus {
      @include make-color($color-FBBD43, $color-FBBD43, $color-FFFFFF);
    }
    &:focus:after {
      border-color: #FAAD14;
    }
    &.disabled, &.disabled:hover {
      @include make-color($color-FCD689, $color-FCD689, $color-FFFFFF);
      cursor: not-allowed;
    }
    &.plain {
      @include make-color($color-FAAD14, transparent, $color-FAAD14);
      &.disabled, &.disabled:hover {
        @include make-color($color-FCD689, transparent, $color-FCD689);
        cursor: not-allowed;
      }
    }
  }
  &.v-btn__danger {
    @include make-color($color-F5222D, $color-F5222D, $color-FFFFFF);
    &:hover, &:focus {
      @include make-color($color-F74E57, $color-F74E57, $color-FFFFFF);
    }
    &:focus:after {
      border-color: $color-F5222D;
    }
    &.disabled, &.disabled:hover {
      @include make-color($color-FA9096, $color-FA9096, $color-FFFFFF);
      cursor: not-allowed;
    }
    &.plain {
      @include make-color($color-F5222D, transparent, $color-F5222D);
      &.disabled, &.disabled:hover {
        @include make-color($color-FA9096, transparent, $color-FA9096);
        cursor: not-allowed;
      }
    }
  }
}

.v-btn__text {
  border: 1px solid transparent;
  &.v-btn__default {
    @include make-color(transparent, transparent, $color-595959);
    &:hover, &:focus {
      @include make-color(transparent, transparent, $color-43A5F8);
    }
    &.disabled, &.disabled:hover {
      @include make-color(transparent, transparent, $color-BFBFBF);
      cursor: not-allowed;
    }
  }
  &.v-btn__primary {
    @include make-color(transparent, transparent, $color-148EF6);
    &:hover, &:focus {
      @include make-color(transparent, transparent, $color-43A5F8);
    }
    &.disabled, &.disabled:hover {
      @include make-color(transparent, transparent, $color-89C6FA);
      cursor: not-allowed;
    }
  }
  &.v-btn__warning {
    @include make-color(transparent, transparent, $color-FAAD14);
    &:hover, &:focus {
      @include make-color(transparent, transparent, $color-FBBD43);
    }
    &.disabled, &.disabled:hover {
      @include make-color(transparent, transparent, $color-FCD689);
      cursor: not-allowed;
    }
  }
  &.v-btn__danger {
    @include make-color(transparent, transparent, $color-F5222D);
    &:hover, &:focus {
      @include make-color(transparent, transparent, $color-F74E57);
    }
    &.disabled, &.disabled:hover {
      @include make-color(transparent, transparent, $color-FA9096);
      cursor: not-allowed;
    }
  }
}

.v-btn__radius {
  border-radius: $border-radius + px;
  &.v-btn__mini {
    @include make-size(auto, 28px, 12px);
  }
  &.v-btn__small {
    @include make-size(auto, 32px, 12px);
  }
  &.v-btn__medium {
    @include make-size(auto, 36px, 14px);
  }
  &.v-btn__large {
    @include make-size(auto, 40px, 16px);
  }
}

.v-btn__circle {
  padding: 0;
  border-radius: 50%;
  &.v-btn__mini {
    @include make-size(28px, 28px, 14px);
  }
  &.v-btn__small {
    @include make-size(32px, 32px, 14px);
  }
  &.v-btn__medium {
    @include make-size(36px, 36px, 16px);
  }
  &.v-btn__large {
    @include make-size(40px, 40px, 18px);
  }
}

@keyframes buttonEffect {
  to {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    border-width: 6px;
    filter: alpha(opacify=0);
    opacity: 0;
  }
}