/* variable for button */
$border-radius: 3;
$button-margin: 10;

/* mixin for grid system */
@mixin make-color($border-color, $background-color, $color) {
  border-color: $border-color;
  background-color: $background-color;
  color: $color;
}

@mixin make-size($width, $height, $font-size) {
  width: $width;
  height: $height;
  font-size: $font-size;
  line-height: $height;
}

.v-btn {
  display: inline-block;
  position: relative;
  margin: 0;
  background: none;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  & + .v-btn {
    margin-left: $button-margin + px;
  }
}

.v-btn__button {
  padding: 0 15px;
  border: 1px solid;
  &:focus:after {
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    content: '';
    border: 0 solid;
    filter: alpha(opacify=40);
    opacity: .4;
    border-radius: inherit;
    animation: buttonEffect .4s;
  }
  &.v-btn__default {
    @include make-color(#E8E8E8, transparent, #292E42);
    &.plain {
      @include make-color(#FFFFFF, transparent, #FFFFFF);
    }
    &:hover, &:focus {
      @include make-color(#3BA6FF, transparent, #3BA6FF);
    }
    &:focus:after {
      border-color: #148EF6;
    }
    &.disabled, &.disabled:hover {
      @include make-color(#EBEEF6, transparent, #EBEEF6);
      cursor: not-allowed;
    }
  }
  &.v-btn__primary {
    @include make-color(#148EF6, #148EF6, #FFFFFF);
    &:hover, &:focus {
      @include make-color(#3BA6FF, #3BA6FF, #FFFFFF);
    }
    &:focus:after {
      border-color: #148EF6;
    }
    &.disabled, &.disabled:hover {
      @include make-color(#88C6FA, #88C6FA, #FFFFFF);
      cursor: not-allowed;
    }
    &.plain {
      @include make-color(#148EF6, transparent, #148EF6);
      &.disabled, &.disabled:hover {
        @include make-color(#88C6FA, transparent, #88C6FA);
        cursor: not-allowed;
      }
    }
  }
  &.v-btn__warning {
    @include make-color(#F29C12, #F29C12, #FFFFFF);
    &:hover, &:focus {
      @include make-color(#FEB24B, #FEB24B, #FFFFFF);
    }
    &:focus:after {
      border-color: #FEB24B;
    }
    &.disabled, &.disabled:hover {
      @include make-color(#F8CD88, #F8CD88, #FFFFFF);
      cursor: not-allowed;
    }
    &.plain {
      @include make-color(#F29C12, transparent, #F29C12);
      &.disabled, &.disabled:hover {
        @include make-color(#F8CD88, transparent, #F8CD88);
        cursor: not-allowed;
      }
    }
  }
  &.v-btn__danger {
    @include make-color(#F24812, #F24812, #FFFFFF);
    &:hover, &:focus {
      @include make-color(#FE694B, #FE694B, #FFFFFF);
    }
    &:focus:after {
      border-color: #FE694B;
    }
    &.disabled, &.disabled:hover {
      @include make-color(#F8A288, #F8A288, #FFFFFF);
      cursor: not-allowed;
    }
    &.plain {
      @include make-color(#F24812, transparent, #F24812);
      &.disabled, &.disabled:hover {
        @include make-color(#F8A288, transparent, #F8A288);
        cursor: not-allowed;
      }
    }
  }
}

.v-btn__text {
  border: 1px solid transparent;
  &.v-btn__default {
    @include make-color(transparent, transparent, #292E42);
    &:hover, &:focus {
      @include make-color(transparent, transparent, #3BA6FF);
    }
    &.disabled, &.disabled:hover {
      @include make-color(transparent, transparent, #C0C4CC);
      cursor: not-allowed;
    }
  }
  &.v-btn__primary {
    @include make-color(transparent, transparent, #148EF6);
    &:hover, &:focus {
      @include make-color(transparent, transparent, #3BA6FF);
    }
    &.disabled, &.disabled:hover {
      @include make-color(transparent, transparent, #88C6FA);
      cursor: not-allowed;
    }
  }
  &.v-btn__warning {
    @include make-color(transparent, transparent, #F29C12);
    &:hover, &:focus {
      @include make-color(transparent, transparent, #FEB24B);
    }
    &.disabled, &.disabled:hover {
      @include make-color(transparent, transparent, #F8CD88);
      cursor: not-allowed;
    }
  }
  &.v-btn__danger {
    @include make-color(transparent, transparent, #F24812);
    &:hover, &:focus {
      @include make-color(transparent, transparent, #FE694B);
    }
    &.disabled, &.disabled:hover {
      @include make-color(transparent, transparent, #F8A288);
      cursor: not-allowed;
    }
  }
}

.v-btn__radius {
  border-radius: $border-radius + px;
  &.v-btn__mini {
    @include make-size(auto, 28px, 12px);
  }
  &.v-btn__small {
    @include make-size(auto, 32px, 12px);
  }
  &.v-btn__medium {
    @include make-size(auto, 36px, 14px);
  }
  &.v-btn__large {
    @include make-size(auto, 40px, 16px);
  }
}

.v-btn__circle {
  padding: 0;
  border-radius: 50%;
  &.v-btn__mini {
    @include make-size(28px, 28px, 14px);
  }
  &.v-btn__small {
    @include make-size(32px, 32px, 14px);
  }
  &.v-btn__medium {
    @include make-size(36px, 36px, 16px);
  }
  &.v-btn__large {
    @include make-size(40px, 40px, 18px);
  }
}

@keyframes buttonEffect {
  to {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    border-width: 6px;
    filter: alpha(opacify=0);
    opacity: 0;
  }
}