.v-collapse--panel {
  &-header {
    height: 40px;
    border-bottom: 1px solid $color-divider;
    font-weight: 500;
    line-height: 40px;
    color: $color-title;
    cursor: pointer;
    outline: none;
    transition: border-bottom-color .3s;
    &-icon {
      float: right;
      margin-right: 8px;
      line-height: inherit;
      transition: transform .3s;
    }
    &.active {
      .v-collapse--panel-header-icon {
        transform: rotate(90deg);
      }
    }
    &.disabled {
      color: $color-text-disabled;
      cursor: not-allowed;
    }
  }
  &-content {
    border-bottom: 1px solid $color-divider;
  }
}

.v-collapse--simple {
  .v-collapse--panel {
    &-header.active {
      border-bottom-color: transparent;
    }
  }
  .v-collapse--panel-content-inner {
    padding-bottom: 16px;
    .v-collapse {
      padding: {
        right: 16px;
        left: 16px;
      }
    }
  }
}

.v-collapse--card {
  border: {
    top: 1px solid $color-border;
    right: 1px solid $color-border;
    left: 1px solid $color-border;
  }
  border-radius: $border-radius;
  .v-collapse--panel-header {
    padding: {
      right: 16px;
      left: 16px;
    }
  }
  .v-collapse--panel-content-inner {
    padding: 16px;
  }
}

.v-collapse--border-card {
  border: {
    top: 1px solid $color-border;
    right: 1px solid $color-border;
    left: 1px solid $color-border;
  }
  border-radius: $border-radius;
  .v-collapse--panel-header {
    padding: {
      right: 16px;
      left: 16px;
    }
    background-color: $color-background;
  }
  .v-collapse--panel-content-inner {
    padding: 16px;
  }
}