.v-datetimepicker {
  position: relative;
  display: inline-block;
  &--content {
    margin: 5px 0;
    border: 1px solid $color-D9D9D9;
    background: $color-FFFFFF;
    color: $color-595959;
    border-radius: $border-radius + px;
    box-shadow: 0 0 10px $color-D9D9D9;
  }
}

.v-picker-date {
  display: inline-block;
  font-size: 0;
  &--hd {
    padding: 5px 10px;
    border-bottom: 1px solid $color-E8E8E8;
    text-align: center;
    &-label {
      padding: 0 5px;
      font-weight: 600;
      font-size: 12px;
      line-height: 32px;
      cursor: pointer;
      &:hover {
        color: $color-43A5F8;
      }
    }
  }
  &--prev-btn {
    float: left;
  }
  &--next-btn {
    float: right;
  }
  &--bd {
    padding: 10px 15px;
  }
  &--table {
    width: 100%;
    font-size: 12px;
    &-header, &-cell {
      display: block;
      width: 26px;
      height: 26px;
      margin: 5px 0;
      padding: 5px;
      &-inner {
        display: block;
        width: 24px;
        height: 24px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        border-radius: $border-radius + px;
      }
    }
    &-header {
      &-inner {
        color: $color-8C8C8C;
      }
    }
    &-cell {
      cursor: pointer;
      &.in-range {
        background-color: $color-E6F7FF;
      }
      &.start-date, &.end-date {
        .v-picker-date--table-cell-inner {
          background-color: $color-1E88E5;
          color: $color-FFFFFF;
        }
      }
      &.start-date {
        border-top-left-radius: $border-radius + px;
        border-bottom-left-radius: $border-radius + px;
      }
      &.end-date {
        border-top-right-radius: $border-radius + px;
        border-bottom-right-radius: $border-radius + px;
      }
      &-inner {
        border: 1px solid transparent;
        &.last-month-cell {
          color: $color-8C8C8C;
        }
        &.today {
          border-color: $color-1E88E5;
          font-weight: 600;
          color: $color-1E88E5;
        }
        &.next-month-cell {
          color: $color-8C8C8C;
        }
        &:hover {
          border-color: $color-1E88E5;
          background-color: $color-E6F6FF;
          color: $color-1E88E5;
        }
        &.disabled {
          border-color: transparent;
          background-color: transparent;
          color: $color-BFBFBF;
          cursor: not-allowed;
        }
      }
    }
  }
}

.v-picker-time {
  position: relative;
  float: right;
  height: 280px;
  padding: 30px 20px;
  border-left: 1px solid $color-E8E8E8;
  font-size: 0;
  .select-panel {
    position: absolute;
    top: 50%;
    right: 20px;
    left: 20px;
    height: 40px;
    border-top: 1px solid $color-E8E8E8;
    border-bottom: 1px solid $color-E8E8E8;
    transform: translateY(-50%);
    &--inner {
      display: inline-block;
      width: 75px;
      height: 40px;
      font-weight: 600;
      font-size: 12px;
      line-height: 40px;
      text-indent: 38px;
    }
  }
  .hours, .minutes, .seconds {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 75px;
    height: 100%;
    overflow: hidden;
    ul {
      display: inline-block;
      width: 92px;
      height: 100%;
      padding-top: 120px;
      padding-right: 17px;
      padding-bottom: 120px;
      box-sizing: border-box;
      overflow: auto;
      li {
        width: 60px;
        padding-left: 8px;
        .time-inner {
          display: inline-block;
          width: 30px;
          height: 30px;
          margin: 5px 0;
          font-size: 12px;
          line-height: 30px;
          color: $color-BFBFBF;
          text-align: center;
          cursor: pointer;
          &:hover {
            font-weight: 600;
            color: $color-1E88E5;
          }
          &.selected {
            font-weight: 600;
            color: $color-595959;
          }
        }
      }
    }
  }
}
