@font-face {
  font-family: 'iconfont';  /* project id 586584 */
  src: url('//at.alicdn.com/t/font_586584_dcx71hun4620529.eot');
  src: url('//at.alicdn.com/t/font_586584_dcx71hun4620529.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_586584_dcx71hun4620529.woff') format('woff'),
  url('//at.alicdn.com/t/font_586584_dcx71hun4620529.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_586584_dcx71hun4620529.svg#iconfont') format('svg');
}

.v-icon {
  display: inline-block;
  speak: none;
  font-family: "iconfont";
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
}

.v-icon-arrow-left:before {
  content: '\e6af';
}

.v-icon-arrow-right:before {
  content: '\e8e7';
}

.v-icon-search:before {
  content: '\e6ed';
}

.v-icon-message:before {
  content: '\e706';
}

.v-icon-delete:before {
  content: '\e669';
}

.v-icon-calendar:before {
  content: '\e647';
}

.v-icon-more:before {
  content: '\e67c';
}

.v-icon-loading:before {
  content: '\e600';
}

.v-icon-loading {
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
