@font-face {
  font-family: 'iconfont';  /* project id 586584 */
  src: url('//at.alicdn.com/t/font_586584_loc3ejoha06swcdi.eot');
  src: url('//at.alicdn.com/t/font_586584_loc3ejoha06swcdi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_586584_loc3ejoha06swcdi.woff') format('woff'),
  url('//at.alicdn.com/t/font_586584_loc3ejoha06swcdi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_586584_loc3ejoha06swcdi.svg#iconfont') format('svg');
}

.v-icon {
  display: inline-block;
  font-family: "iconfont";
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
  speak: none;
}

.icon-code:before {
  content: '\e69f';
}

.icon-user-plus:before {
  content: '\e739';
}

.icon-arrow-left:before {
  content: '\e6af';
}

.icon-arrow-d-left:before {
  content: '\e724';
}

.icon-arrow-right:before {
  content: '\e6e7';
}

.icon-arrow-d-right:before {
  content: '\e726';
}

.icon-arrow-up:before {
  content: '\e713';
}

.icon-arrow-down:before {
  content: '\e678';
}

.icon-search:before {
  content: '\e6ed';
}

.icon-check:before {
  content: '\e642';
}

.icon-message:before {
  content: '\e706';
}

.icon-delete:before {
  content: '\e669';
}

.icon-calendar:before {
  content: '\e647';
}

.icon-more:before {
  content: '\e67c';
}

.icon-caret-top:before {
  content: '\e64d';
}

.icon-caret-bottom:before {
  content: '\e64a';
}

.icon-info:before {
  content: '\e6a7';
}

.icon-success:before {
  content: '\e651';
}

.icon-warning:before {
  content: '\e682';
}

.icon-danger:before {
  content: '\e657';
}

.icon-close:before {
  content: '\e659';
}

.icon-user:before {
  content: '\e605';
}

.icon-heart:before {
  content: '\e69d';
}

.icon-loading:before {
  content: '\e600';
}

.icon-loading {
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
