@font-face {
  font-family: 'iconfont';  /* project id 586584 */
  src: url('//at.alicdn.com/t/font_586584_1jk5lqvwd7eewmi.eot');
  src: url('//at.alicdn.com/t/font_586584_1jk5lqvwd7eewmi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_586584_1jk5lqvwd7eewmi.woff') format('woff'),
  url('//at.alicdn.com/t/font_586584_1jk5lqvwd7eewmi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_586584_1jk5lqvwd7eewmi.svg#iconfont') format('svg');
}

[class*=" v-icon-"],
[class^=v-icon-] {
  display: inline-block;
  font-family: "iconfont";
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
  speak: none;
}

.v-icon-upload-o:before {
  content: '\e74d';
}

.v-icon-download-o:before {
  content: '\e74c';
}

.v-icon-mail-o:before {
  content: '\e74b';
}

.v-icon-caret-up:before {
  content: '\e60e';
}

.v-icon-caret-right:before {
  content: '\e60d';
}

.v-icon-caret-down:before {
  content: '\e60b';
}

.v-icon-caret-left:before {
  content: '\e60c';
}

.v-icon-home-o:before {
  content: '\e69e';
}

.v-icon-code-o:before {
  content: '\e69f';
}

.v-icon-user-plus-o:before {
  content: '\e739';
}

.v-icon-arrow-left-o:before {
  content: '\e6af';
}

.v-icon-arrow-d-left-o:before {
  content: '\e724';
}

.v-icon-arrow-right-o:before {
  content: '\e6e7';
}

.v-icon-arrow-d-right-o:before {
  content: '\e726';
}

.v-icon-arrow-up-o:before {
  content: '\e713';
}

.v-icon-arrow-down-o:before {
  content: '\e678';
}

.v-icon-search-o:before {
  content: '\e6ed';
}

.v-icon-check-o:before {
  content: '\e642';
}

.v-icon-message-o:before {
  content: '\e706';
}

.v-icon-delete-o:before {
  content: '\e669';
}

.v-icon-calendar-o:before {
  content: '\e647';
}

.v-icon-more:before {
  content: '\e67c';
}

.v-icon-info:before {
  content: '\e6a7';
}

.v-icon-success:before {
  content: '\e651';
}

.v-icon-warning:before {
  content: '\e682';
}

.v-icon-error:before {
  content: '\e657';
}

.v-icon-close-o:before {
  content: '\e659';
}

.v-icon-user-o:before {
  content: '\e75f';
}

.v-icon-user:before {
  content: '\e605';
}

.v-icon-heart-o:before {
  content: '\e69d';
}

.v-icon-loading:before {
  content: '\e600';
}

.v-icon-loading {
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
