/* variable */
$menu-indent: 0;
$menu-item-indent: 20;
$menu-item-line-height: 40;
$border-radius: 3;

/* mixin */
@mixin v-menu-item-border-normal {
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    content: "";
    border-right: 3px solid #148EF6;
    opacity: 0;
    transform: scaleY(.0001);
    transition: transform .15s cubic-bezier(.215, .61, .355, 1), opacity .15s cubic-bezier(.215, .61, .355, 1);
  }
}

@mixin v-menu-item-border-active {
  &:after {
    opacity: 1;
    transform: scaleY(1);
    transition: transform .15s cubic-bezier(.645, .045, .355, 1), opacity .15s cubic-bezier(.645, .045, .355, 1);
  }
}

@mixin v-menu__item-link {
  display: block;
  position: relative;
  height: $menu-item-line-height + px;
  @extend .text-overflow;
  @include v-menu-item-border-normal;
  &:hover {
    color: #148EF6;
  }
  &.active {
    background-color: #E6F7FF;
    color: #148EF6;
    @include v-menu-item-border-active;
  }
}

@mixin make-padding($level) {
  padding-right: $menu-indent + $menu-item-indent + px;
  padding-left: ($menu-indent + $menu-item-indent) * $level + px;
}

.v-menu {
  width: 100%;
  font-size: 14px;
  line-height: $menu-item-line-height + px;
  transition: background .3s, width .2s;
  @extend .clearfix;
  &__item {
    > a {
      @include make-padding(1);
      @include v-menu__item-link;
    }
  }
  .v-submenu {
    &__title {
      display: block;
      position: relative;
      height: $menu-item-line-height + px;
      @include make-padding(1);
      cursor: pointer;
      h4 {
        max-width: 80%;
        height: inherit;
        @extend .text-overflow;
      }
      &-arrow {
        position: absolute;
        top: 50%;
        right: 18px;
        width: 10px;
        transition: transform .3s cubic-bezier(.645, .045, .355, 1);
        &:before, &:after {
          position: absolute;
          width: 6px;
          height: 1.5px;
          content: '';
          background-image: linear-gradient(to right, rgba(0, 0, 0, .65), rgba(0, 0, 0, .65));
          vertical-align: baseline;
          border-radius: $border-radius + px;
          transition: background .3s cubic-bezier(.645, .045, .355, 1), transform .3s cubic-bezier(.645, .045, .355, 1);
        }
        &:before {
          transform: rotate(-45deg) translateX(2px);
        }
        &:after {
          transform: rotate(45deg) translateX(-2px);
        }
      }
    }
    &__item {
      > a {
        @include make-padding(2);
        @include v-menu__item-link;
      }
    }
    &-group {
      &__title {
        @include make-padding(2);
        color: rgba(0, 0, 0, .45);
      }
      &__menu {
        .v-group-item {
          > a {
            @include make-padding(3);
            @include v-menu__item-link;
          }
        }
      }
    }
  }
}
