.v-message {
  position: fixed;
  top: 20px;
  left: 50%;
  max-width: 50%;
  min-height: 18px;
  padding: 10px 20px;
  border-radius: $border-radius;
  transform: translateX(-50%);
  overflow: hidden;
  opacity: 1;
  transition: opacity .3s, transform .3s;
  &--info {
    background-color: $color-white;
    color: $color-text-primary;
  }
  &--success {
    background-color: $color-success;
    color: $color-white;
  }
  &--warning {
    background-color: $color-warning;
    color: $color-white;
  }
  &--error {
    background-color: $color-danger;
    color: $color-white;
  }
  &--with-icon {
    padding-left: 30px;
  }
  [class^=v-icon-] {
    position: absolute;
    left: 10px;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
  }
}

.message-fade-enter,
.message-fade-leave-active {
  opacity: 0;
  transform: translate(-50%, -100%);
}