.v-message {
  position: fixed;
  top: 20px;
  left: 50%;
  max-width: 50%;
  min-height: 18px;
  padding: 10px 20px;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: $border-radius + px;
  transform: translateX(-50%);
  overflow: hidden;
  opacity: 1;
  transition: opacity .3s, transform .4s;
  &--align-left {
    text-align: left;
  }
  &--align-center {
    text-align: center;
  }
  &--align-right {
    text-align: right;
  }
  &--info {
    border-color: $color-C5E3FF;
    background-color: $color-E6F7FF;
    color: $color-1890FF;
  }
  &--success {
    border-color: $color-D3F0C5;
    background-color: $color-F6FFED;
    color: $color-52C41A;
  }
  &--warning {
    border-color: $color-FDE8C7;
    background-color: $color-FFFBE6;
    color: $color-FAAD14;
  }
  &--danger {
    border-color: $color-FCC7CA;
    background-color: $color-FFF1F0;
    color: $color-F5222D;
  }
  &--with-icon {
    padding-left: 30px;
  }
  .v-icon {
    position: absolute;
    left: 10px;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
  }
}

.message-fade-enter,
.message-fade-leave-active {
  opacity: 0;
  transform: translate(-50%, -100%);
}