.v-notify {
  position: fixed;
  display: block;
  width: auto;
  padding: 8px 32px 8px 10px;
  background-color: $color-white;
  border-radius: $border-radius;
  color: $color-text-primary;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
  transition: opacity .3s, transform .3s, left .3s, right .3s, top .3s, bottom .3s;
  &.right {
    right: 16px;
  }
  &.left {
    left: 16px;
  }
  &--info {
    > [class^=v-icon-] {
      color: $color-text-primary;
    }
  }
  &--success {
    [class^=v-icon-] {
      color: $color-primary;
    }
  }
  &--warning {
    [class^=v-icon-] {
      color: $color-warning;
    }
  }
  &--error {
    [class^=v-icon-] {
      color: $color-danger;
    }
  }
  &--with-icon {
    padding-left: 30px;
  }
  &--message {
    [class^=v-icon-] {
      position: absolute;
      left: 10px;
      height: 18px;
      font-size: 14px;
      line-height: 18px;
    }
    &-content {
      margin-top: 5px;
      line-height: 20px;
    }
    &.with-content {
      [class^=v-icon-] {
        top: 9px;
      }
      .v-notify--message-title {
        font-size: 14px;
      }
    }
  }
  &--close {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    [class^=v-icon-] {
      color: $color-text-primary;
    }
  }
}

.notify-fade-enter {
  &.right {
    right: 0;
    transform: translateX(100%);
  }
  &.left {
    left: 0;
    transform: translateX(-100%);
  }
}

.notify-fade-leave-active {
  opacity: 0;
}
