.v-radio-group {
  display: inline-block;
  position: relative;
  z-index: 1;
  &--horizontal {
    .v-radio + .v-radio {
      margin-left: 10px;
    }
  }
  &--vertical {
    .v-radio {
      display: block;
      width: 100%;
      & + .v-radio {
        margin-top: 10px;
      }
    }
  }
}
