.v-rate{
	.v-rate--item{
		display: inline-block;
		margin-left: 5px;
		cursor: pointer;
		&.v-rate--item:first-child{
			margin-left: 0;
		}
	}
	&.disabled{
		.v-rate--item{
			cursor: default;
		}
	}
}
