.v-tabs {
  position: relative;
  display: block;
  @extend .clearfix;
  &--header {
    position: relative;
    &-extra {
      float: right;
      line-height: 38px;
    }
  }
  &--nav {
    position: relative;
    z-index: 2;
    display: inline-block;
    transition: transform .3s;
    &-wrapper {
      position: relative;
      white-space: nowrap;
      zoom: 1;
      overflow: hidden;
      @extend .clearfix;
    }
    &-scroll {
      overflow: hidden;
      white-space: nowrap;
    }
    &-bar {
      position: absolute;
      z-index: 1;
      background-color: $color-primary;
      transform-origin: 0 0;
      transition: transform .3s cubic-bezier(.645, .045, .355, 1), width .3s cubic-bezier(.645, .045, .355, 1);
    }
    &-item {
      position: relative;
      height: 100%;
      transition: color .3s cubic-bezier(.645, .045, .355, 1);
      [class^=v-icon-] {
        display: inline-block;
        margin-right: 8px;
        font-size: 14px;
        line-height: 1;
        vertical-align: baseline;
        text-align: center;
        text-transform: none;
        text-rendering: optimizeLegibility;
      }
      &:hover {
        color: $color-primary-hover;
        cursor: pointer;
      }
      &.active {
        font-weight: 500;
        color: $color-primary;
      }
      &.disabled {
        color: $color-text-disabled;
        cursor: not-allowed;
      }
    }
  }
  &--body {
    @extend .clearfix;
  }
  &--placement-top {
    .v-tabs--header {
      border-bottom: 1px solid $color-border;
      .v-tabs--nav {
        &-wrapper {
          margin-bottom: -1px;
        }
        &-bar {
          bottom: 0;
          height: 2px;
        }
        &-item {
          display: inline-block;
          padding: 10px 16px;
        }
      }
    }
    .v-tabs--panel {
      padding: 16px;
    }
  }
  &--placement-right {
    .v-tabs--header {
      float: right;
      border-left: 1px solid $color-border;
      .v-tabs--nav {
        &-wrapper {
          margin-left: -1px;
        }
        &-bar {
          left: 0;
          width: 2px;
        }
        &-item {
          display: block;
          padding: 10px 16px;
          text-align: left;
        }
      }
    }
    .v-tabs--panel {
      padding: 0 16px;
    }
  }
  &--placement-left {
    .v-tabs--header {
      float: left;
      border-right: 1px solid $color-border;
      .v-tabs--nav {
        &-wrapper {
          margin-right: -1px;
        }
        &-bar {
          right: 0;
          width: 2px;
        }
        &-item {
          display: block;
          padding: 10px 16px;
          text-align: right;
        }
      }
    }
    .v-tabs--panel {
      padding: 0 16px;
    }
  }
}