.v-tag-group {
  position: relative;
  z-index: 1;
  display: inline-block;
  .v-tag {
    cursor: pointer;
    &.checked {
      background-color: $color-1890FF;
      color: $color-FFFFFF;
    }
  }
}