/* variable for button */
$color-148EF6: #148EF6;
$color-FFFFFF: #FFFFFF;

.v-tag-group {
  position: relative;
  z-index: 1;
  display: inline-block;
  .v-tag {
    cursor: pointer;
    &.checked {
      background-color: $color-148EF6;
      color: $color-FFFFFF;
    }
  }
}