.v-timeline{
  padding: 0;
  font-size: 14px;
  .v-timeline-item{
    list-style: none;
    position: relative;
    padding: 0 0 20px;
    .v-timeline-item--head{
      position: absolute;
      width: 10px;
      height: 10px;
      left: 6px;
      background-color: $color-white;
      border-radius: 100px;
      border: 2px solid $color-primary;
    }
    .v-timeline-item--foot{
      position: absolute;
      left: 10px;
      bottom: 0;
      height: 100%;
      border-left: 2px solid $color-divider;
      z-index: -1;
    }
    &:last-child{
      .v-timeline-item--foot{
        display: none;
      }
    }
    .v-timeline-item--content{
      padding: 0 0 0 18px;
      position: relative;
      top: -8px;
    }
  }
  .default-icon{
    position: absolute;
    left: 5px;
    top: -5px;
    color: $color-primary;
  }
  &.pending .v-timeline-item:nth-last-child(2){
    .v-timeline-item--foot{
      border-left: 2px dashed $color-divider;
    }
  }
}
