.v-tooltip {
  display: inline-block;
  &--arrow {
    position: absolute;
    display: block;
    border: {
      style: solid;
      color: transparent;
    }
  }
  &--inner {
    min-height: 32px;
    padding: 6px 8px;
    border-radius: $border-radius;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    text-align: left;
    text-decoration: none;
  }
}

.v-tooltip--placement-top,
.v-tooltip--placement-top-start,
.v-tooltip--placement-top-end {
  padding-bottom: 8px;
  .v-tooltip--arrow {
    bottom: 5px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .07);
  }
}

.v-tooltip--placement-right,
.v-tooltip--placement-right-start,
.v-tooltip--placement-right-end {
  padding-left: 8px;
  .v-tooltip--arrow {
    left: 5px;
    box-shadow: -3px 3px 7px rgba(0, 0, 0, .07);
  }
}

.v-tooltip--placement-bottom,
.v-tooltip--placement-bottom-start,
.v-tooltip--placement-bottom-end {
  padding-top: 8px;
  .v-tooltip--arrow {
    top: 5px;
    box-shadow: -2px -2px 4px rgba(0, 0, 0, .07);
  }
}

.v-tooltip--placement-left,
.v-tooltip--placement-left-start,
.v-tooltip--placement-left-end {
  padding-right: 8px;
  .v-tooltip--arrow {
    right: 5px;
    box-shadow: 3px -3px 7px rgba(0, 0, 0, .07);
  }
}

.v-tooltip--placement-top .v-tooltip--arrow {
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.v-tooltip--placement-top-start .v-tooltip--arrow {
  left: 16px;
  transform: rotate(45deg);
}

.v-tooltip--placement-top-end .v-tooltip--arrow {
  right: 16px;
  transform: rotate(45deg);
}

.v-tooltip--placement-right .v-tooltip--arrow {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.v-tooltip--placement-right-start .v-tooltip--arrow {
  top: 8px;
  transform: rotate(45deg);
}

.v-tooltip--placement-right-end .v-tooltip--arrow {
  bottom: 8px;
  transform: rotate(45deg);
}

.v-tooltip--placement-bottom .v-tooltip--arrow {
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.v-tooltip--placement-bottom-start .v-tooltip--arrow {
  left: 16px;
  transform: rotate(45deg);
}

.v-tooltip--placement-bottom-end .v-tooltip--arrow {
  right: 16px;
  transform: rotate(45deg);
}

.v-tooltip--placement-left .v-tooltip--arrow {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.v-tooltip--placement-left-start .v-tooltip--arrow {
  top: 8px;
  transform: rotate(45deg);
}

.v-tooltip--placement-left-end .v-tooltip--arrow {
  bottom: 8px;
  transform: rotate(45deg);
}

.dark {
  .v-tooltip--arrow {
    background-color: $color-menu-dark;
  }
  .v-tooltip--inner {
    background-color: $color-menu-dark;
    color: $color-white;
  }
}

.light {
  .v-tooltip--arrow {
    background-color: $color-white;
  }
  .v-tooltip--inner {
    background-color: $color-white;
    color: $color-text-primary;
  }
}