/* variable */
$border-radius: 3;
$button-margin: 10;
$color-066ACF: #066ACF;
$color-89C6FA: #bed1fa;
$color-1E88E5: #568bfc;
$color-262626: #262626;
$color-333333: #333333;
$color-52C41A: #52C41A;
$color-595959: #595959;
$color-8C8C8C: #8C8C8C;
$color-BFBFBF: #BFBFBF;
$color-D9D9D9: #D9D9D9;
$color-E6F6FF: #E6F6FF;
$color-E6F7FF: #E6F7FF;
$color-E8E8E8: #E8E8E8;
$color-EDEDED: #EDEDED;
$color-F5F5F5: #F5F5F5;
$color-FFFFFF: #FFFFFF;
$color-43A5F8: #43A5F8;
$color-F5222D: #f45b63;
$color-F74E57: #F74E57;
$color-FA9096: #FA9096;
$color-FAAD14: #FAAD14;
$color-FAFAFA: #FAFAFA;
$color-FBBD43: #FBBD43;
$color-FCD689: #FCD689;